@use '../abstracts' as *;

@include breakpoint('tablet') {
  --_typography---h1--size: #{$h1-size--tablet};
  --_typography---h2--size: #{$h2-size--tablet};
  --_typography---h3--size: #{$h3-size--tablet};
  --_typography---h4--size: #{$h4-size--tablet};
}

@include breakpoint('m-landscape') {
  --_typography---h1--size: #{$h1-size--m_landscape};
  --_typography---h2--size: #{$h2-size--m_landscape};
  --_typography---h3--size: #{$h3-size--m_landscape};
  --_typography---h4--size: #{$h4-size--m_landscape};
}

@include breakpoint('m-portrait') {
  --_typography---h1--size: #{$h1-size--m_portrait};
  --_typography---h2--size: #{$h2-size--m_portrait};
  --_typography---h3--size: #{$h3-size--m_portrait};
  --_typography---h4--size: #{$h4-size--m_portrait};
}

@media (max-width: 479px) {
  .heading-animation {
    font-size: 2.1rem;
  }
}