@use '../abstracts' as *;

.btn-nav {
  position: relative;
}

.btn-nav::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: black;
  transform: translateX(-50%);
  transition: width 0.5s ease;
}

.btn-nav:hover::after {
  width: var(--after-width, 100%);
}

// .be/contact will be ignored because of the specificity. In this case, we want this behavior.
.btn-nav.active::after {
  width: var(--after-width, 100%);
}